.app-root {
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;

    display: grid;
    grid-template-rows: auto 1fr auto;

    color: var(--app-bg-primary);
    background-image: var(--app-bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
