.ui-carousel {
    position: relative;
    width: 100%;
    --gap: 16px;
}

.ui-carousel-viewport {
    overflow: hidden;
    width: 100%;
}

.ui-carousel-track {
    display: flex;
    gap: var(--gap);
    transition: transform 0.4s ease;
}

.ui-carousel-item {
    flex: 0 0
    calc(
            (100% - (var(--items-per-view) - 1) * var(--gap)) /
            var(--items-per-view)
    );
}

.ui-carousel[style*='--item-width'] .ui-carousel-item {
    flex: 0 0 var(--item-width);
}

.ui-carousel-arrow {
    position: absolute;
    top: 40%;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--app-background-inverse);
    cursor: pointer;
    z-index: 2;
}

.ui-carousel-arrow.left {
    left: -2rem;
}

.ui-carousel-arrow.right {
    right: -2rem;
}

.ui-carousel-arrow:disabled {
    opacity: 0.3;
    cursor: default;
}

.ui-carousel-dots {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.75rem;
}

.ui-carousel-dots .dot {
    width: 8px;
    height: 8px;
    border-radius: var(--radius-round);
    border: none;
    background: var(--app-background-inverse);
    cursor: pointer;
}

.ui-carousel-dots .dot.active {
    background: var(--color-color-gray-500);
}
