<button class="ui-button ui-button--primary">
    Primary action
</button>

<button class="ui-button ui-button--secondary">
    Secondary action
</button>

<button class="ui-button ui-button--success">
    Success action
</button>

<button class="ui-button ui-button--warning">
    Warning action
</button>

<button class="ui-button ui-button--danger">
    Danger action
</button>

<button class="ui-button ui-button--processing">
    Processing action
</button>

<button class="ui-button ui-button--primary" disabled>
    Disabled
</button>
