.ui-main-menu {
    display: flex;
    flex-wrap: nowrap;
    height: 64px;
    width: 100vw;
    margin: 0;
    padding-top: var(--spacing-stack-lg);
}

.ui-main-menu__left {
    height: 84px;
    width: 20vw;
    padding: var(--spacing-stack-lg) var(--spacing-stack-xl);
    background: linear-gradient(to bottom,
    var(--color-color-gray-400),
    var(--app-background-inverse),
    var(--color-color-gray-400) 64px);
    mask: radial-gradient(110% 20px at bottom right, transparent 96%, var(--app-background-inverse));
    font-size: var(--font-size-xl);
    color: var(--app-text-primary-inverse);
}

.ui-main-menu__center, .ui-main-menu__right {
    height: 64px;
    background: linear-gradient(to bottom,
    var(--color-color-gray-400),
    var(--app-background-inverse),
    var(--color-color-gray-400) 64px);
}

.ui-main-menu__center {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: var(--spacing-stack-md);
    width: 60vw;
}

.ui-main-menu__right {
    padding-top: var(--spacing-stack-md);
    width: 20vw;
}

.ui-menu-item {
    padding: var(--spacing-stack-sm) var(--spacing-stack-lg);
    background: transparent;
    border-radius: var(--radius-round);
    border: none;

    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    color: var(--app-text-primary-inverse);

    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease;
}

.ui-menu-item:hover {
    background: color-mix(
            in srgb,
            var(--app-surface-primary) 30%,
            transparent
    );
    color: var(--color-status-warning);
}

.ui-menu-item--active {
    background: linear-gradient(to bottom,
    var(--color-status-warning),
    var(--color-status-danger) 100%
    );
    color: #000;
    font-weight: 600;
}



